/** source https://loading.io/css/ */
.query--loading {
    display: inline-block;
    position: relative;
    width: 5rem;
    height: 5rem;

    margin: auto;

    div {
        position: absolute;
        border: .25rem solid #fdd;
        opacity: 1;
        border-radius: 50%;
        animation: loading 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;

        &:nth-child(2) {
            animation-delay: -0.5s;
        }
    }
}

@keyframes loading {
    0% {
        top: 2rem;
        left: 2rem;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: -1px;
        left: -1px;
        width: 4rem;
        height: 4rem;
        opacity: 0;
    }
}
