.tile {
    background: grey;
    display: inline-block;
    height: 3rem;
    flex: 0 0 5rem;
    font-size: 0;
    text-decoration: none;

    &[disabled] {
        opacity: .33;
    }

    &--red {
        background: red;
    }

    &--amber {
        background: #d9ca4a;
    }

    &--green {
        background: #4AD964;
    }
}

.tile.tile__add-control {
    background: transparent;
    border: none;
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

    &:hover {
        color: #000;
    }

    &:before {
        content: "+";
    }
}
