.topnav {
    display: flex;
    flex: 1 0 100%;

    &__logo--main {
        width: 10rem;
        height: 4rem;
        box-sizing: border-box;
        margin-left: .5rem;
    }

    &__user-avatar {
        height: 4rem;
        width: 4rem;
        padding: .5rem;
        border-radius: 2rem;
        box-sizing: border-box;
    }

    &__user-wrapper {
        margin-left: auto;
        position: relative;
    }

    &__user-menu-options {
        position: absolute;
        right: 1rem;
        width: 15rem;
        padding: 0;
        margin: 0;
    }

    &__user-menu-option {
        padding: .5rem;
        list-style: none;

        &:hover {
            background: #c8bbbb;
        }
    }
}
