.topnav {
    display: flex;
    flex: 1 0 100%;

    &__logo--main {
        width: 10rem;
        height: 4rem;
        box-sizing: border-box;
    }

    &__logo--github {
        height: 4rem;
        width: 4rem;
        padding: .5rem;
        box-sizing: border-box;
    }

    &__link--github {
        margin-left: auto;
    }
}
